
.encabezado {
    text-align: center;
    background: slategray;
    margin-left: 80px;
    margin-right: 80px;

}

.body {
    background: rgb(223, 222, 222);
    margin-left: 80px;
    margin-right: 80px;
    padding: 30px;

}

.title{
    font-family: 'Times New Roman';
    font-size: 40px;
}

.questions{
    font-family: Arial, Helvetica, sans-serif;
}